@model IEnumerable<EasyGames.Models.Toy>

@{
    ViewData["Title"] = "Toys";
}

<h1>Toys</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="product-grid">
    @foreach (var toy in Model)
    {
        @await Html.PartialAsync("_ToyCard", toy)
    }
</div>
