@model IEnumerable<EasyGames.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}

<div class="product-grid">
    @foreach (var book in Model)
    {
        @await Html.PartialAsync("_BookCard", book)
    }
</div>
